
body {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    color: white;
    display: flex;
    align-self: center;
    font-size: 24px;
    font-weight: 900;
}

.links {
    display: flex;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

li:hover {
    filter: brightness(85%);
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

li {
    color: lightgray;
    list-style: none;
    padding: 0;
    margin-right: 16px;
}

.top-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #1F2937;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 50%;
    margin: 48px;
    flex-grow: 0;
}

.title {
    font-size: 48px;
    color: white;
}

.white-text {
    color: white;
}

.sign-up-button {
    color: white;
    background-color: #3882F6;
    border: none;
    padding: 16px 32px;
    display: flex;
    align-items: left;
    justify-self: left;
    width: fit-content;
    border-radius: 10px;
}

.sign-up-button:hover {
    color: #3882F6;
    background-color:white;
    cursor: pointer;
}

.image  {
    background-color: gray;
    color: white;
    display: flex;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
    width: 50%;
    margin: 48px;
    padding-top: 96px;
    padding-bottom: 96px;
}

.bottom-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 32px;
}

.info {
    font-size: 30px;
    font-weight: bolder;
}

.deck {
    display: flex;
    flex-direction: row;
    gap:40px;
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.image-part {
    width: 130px;
    height: 130px;
    border-color: #3882F6;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    
}

.card-subtext {
    display: flex;
    flex-wrap: wrap;
    width: 130px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 70px;
    padding-left: 10%;
    padding-right: 10%;
}

.quote-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}


.author {
    font-size: 20px;
    font-weight: bolder;
    text-align: right;
    margin-right: 20px;
}

.banner {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 5px;
    gap: 80px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.banner-column {
    display: flex;
    flex-direction: column;
    color: white;
}

.banner-title {
    font-weight: bolder;
}

.second-sign-up {
    color:white;
    background-color: #3882F6;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.second-sign-up:hover {
    color: #3882F6;
    background-color:white;
    cursor: pointer;
}

.footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


































